<!DOCTYPE html>
<html>
<head>
  <title>DojoCMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Dojo Book</h1>
<%= yield %>


<footer>
    <em>Footer</em>
</footer>
</body>
</html>
